body{
    padding: 50px ;
    background-color: rgb(223, 223, 250);
}
.tagline{
    color : blueviolet;
    font-style : italic;
}

img {
    float:right ;
    width: 420px;
}

.pricelist{
    padding: 50px;
}

table{
    border : 1px solid black;
    width : 100%;
}

td, th{
    text-align: left;
    padding : 16px;
}

footer{
    text-align: center;
    font-family: 'Times New Roman';
    font-size: 10px;
    padding: 3px;
    background-color: orange;
    position: fixed;
    bottom : 0;
    left: 0;
    width: 100%;
}